<div>
    <h2>New Contacts</h2>
    <div class="Table">
        <div class="Row">
            <div>
                <p>FirstName</p>
            </div>
            <div>
                <input ng-model="givenName"  />
            </div>
        </div>
        <div class="Row">
            <div>
                <p>LastName</p>
            </div>
            <div>
                <input ng-model="surName" />
            </div>
        </div>
        <div class="Row">
            <div>
                <p>Email</p>
            </div>
            <div>
                <input ng-model="email"  />
            </div>
        </div>
    </div>
    <button ng-click="add()">Add</button>  
</div>